<table>
    <caption><h1>All Songs:</h1></caption>
    <thead>
        <tr>
            <th><h2>Title</h2></th>
            <th scope="col"><h2>Artist</h2></th>
        </tr>
    </thead>
    <tbody>
      <% @songs.each do |song| %>
        <tr>
            <th scope="row"><p><%= link_to song.title, song_path(song) %></p></th>
            <td><%= song.artist_name %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<br>
<br>
<%= link_to "Make a new song", new_song_path() %>
